scipy==1.4.1
gym==0.17.3
GPUtil>=1.4.0
defusedxml>=0.6.0
rospkg>=1.2.8
netifaces>=0.10.9
tensorboardX>=2.2
transformers==4.11
torch==2.1.0 
torchvision==0.16.0 
torchaudio==2.1.0
protobuf
spython
catkin-pkg
certifi
charset-normalizer
click
cloudpickle
dataclasses
docutils
filelock
huggingface-hub
idna
importlib-metadata
importlib-resources
joblib
numpy
packaging
Pillow
pyparsing
python-dateutil
PyYAML
regex
requests
sacremoses
six
tokenizers
tqdm
typing_extensions
urllib3
zipp





